<ul>
  {{#each broncos}}
    <li>
      <h2>Name: {{name}}</h2>
      <ul>
        <li>IQ: {{iq}}</li>
        <li>Favorite Color: {{favorite_color}}</li>
        <li>Favorite Number: {{favorite_number}}</li>
        <li>Height {{heightString}}</li>
      </ul>
    </li>
  {{/each}}
</ul>
