<section class="books">
    <form method="POST" action="/books/{{book.id}}?_method=DELETE">
        <div class="book">
            <figure>
                <img src="{{book.cover_url}}" alt="{{book.title}} book cover" />
            </figure>
            <div class="details">
                <h3>{{book.title}}</h3>
                <ul class="authors">
                    {{#each book.authors}}
                        <li><a href="/authors/{{id}}">{{first_name}} {{last_name}}</a></li>
                    {{/each}}
                </ul>
                <span class="genre">{{book.genre}}</span>
                <p>{{book.description}}</p>
            </div>
        </div>

        <input type="submit" class="delete" value="Delete {{book.title}}?" />
    </form>
</section>
