<section class="authors">
    <div class="author">
        <figure>
            <img src="{{author.portrait_url}}" alt="{{author.first_name}} {{author.last_name}} portrait" />
        </figure>
        <div class="details">
            <h3><a href="/author/{{author.id}}">{{author.first_name}} {{author.last_name}}</a></h3>
            <p>{{author.biography}}</p>

            <div class="books">
                <h3>Books</h3>
                <ul>
                    {{#each author.books}}
                        <li class="book"><a href="/books/{{id}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="actions">
                <a href="/authors/edit/{{author.id}}"><i class="edit fa fa-pencil"></i></a>
                <a href="/authors/delete/{{author.id}}"><i class="delete fa fa-remove"></i></a>
            </div>
        </div>
    </div>
</section>

